.canvas {
   background-color: #B21581;

   width: 100%;
   height: 100%;
   position: absolute;
}

.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
