.canvas {
   background-color: #B21581;

   width: 100%;
   height: 100%;
   position: absolute;
}

.curved {
   border-top-left-radius: 200px;
   border-top-right-radius: 200px;
}

.curved.blue {

   background-color: #293FAC;
   width: 100px;
   height: 100px;
   position: absolute;
   top: 50px;
   right: 25px;
}
