body {
  background-color: white;

  text-align: center;
}
/*Am I a cool kid yet?*/
.canvas {
   background-color: #581981;

   width: 100%;
   height: 100%;
   position: absolute;
}
/* Do these count?*/
.circle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
 position: relative;


}

.circle.blue{
  width: 500px;
  height: 500px;
  background: #293FAC;
  margin-top:-250px;
  margin-left:-250px;
position: absolute; left: 50%; top: 50%;
}

.circle.yellow{
  width: 250px;
  height: 250px;
  background: #F0FF00;
  margin-top:125px;
  margin-left:125px;
}

.tv {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 20px 0;
  background: white;
  border-radius: 50% / 10%;
  color: white;
  margin-top: -200px;
  margin-left:150px;
}
.tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.space-invader{

    position: relative;
  box-shadow:
    0 0 0 1em #646565,
    0 1em 0 1em #646565,
    -2.5em 1.5em 0 .5em #646565,
    2.5em 1.5em 0 .5em #646565,
    -3em -3em 0 0 #646565,
    3em -3em 0 0 #646565,
    -2em -2em 0 0 #646565,
    2em -2em 0 0 #646565,
    -3em -1em 0 0 #646565,
    -2em -1em 0 0 #646565,
    2em -1em 0 0 #646565,
    3em -1em 0 0 #646565,
    -4em 0 0 0 #646565,
    -3em 0 0 0 #646565,
    3em 0 0 0 #646565,
    4em 0 0 0 #646565,
    -5em 1em 0 0 #646565,
    -4em 1em 0 0 #646565,
    4em 1em 0 0 #646565,
    5em 1em 0 0 #646565,
    -5em 2em 0 0 #646565,
    5em 2em 0 0 #646565,
    -5em 3em 0 0 #646565,
    -3em 3em 0 0 #646565,
    3em 3em 0 0 #646565,
    5em 3em 0 0 #646565,
    -2em 4em 0 0 #646565,
    -1em 4em 0 0 #646565,
    1em 4em 0 0 #646565,
    2em 4em 0 0 #646565;

    background: #646565;
    width: 1em;
    height: 1em;
    margin-top: -110px;
    margin-left: 240px;
  }

.text-container{
  margin-top: -450px;
  margin-left: 0px;
font-size: 20px;
}

.pacman{
  margin-top: -200px;
  margin-left: -600px;
}
.qbert{
  margin-top: -200px;
  margin-left: 500px;
}
.extratxt{

    text-align: center;
  width: 300;
  height: 100%;
  margin-top: -580px;
  margin-left: 50px;
    color: rgb(16, 255, 31);

}
