@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

@font-face {
font-family: 'Great Vibes', cursive;
src: url('../fonts/GreatVibes-Regular.ttf') format('opentype');
font-weight: normal;
font-style: normal;
}
