* {
  font-family: 'Great Vibes', cursive;
  color: blue;
    font-size: 30px;
}
body{
  background-color: #461069;
}
h1{
  font-family: 'Kaushan Script', cursive;
  color: purple;
  text-align: right;
}
h2{
  font-family: 'Kaushan Script', cursive;
  color: purple;
  text-align: right;
}
h3{
  font-family: 'Kaushan Script', cursive;
  background-color: #FFFFFF;
  text-align: center;
}

.name{
  font-size: 30px;
  color: #1C1494;
}
.name2{
  font-size: 30px;
  color: #941464;
}


.spoken {
  font-style: italic;
  color: Magenta;

    font-size: 25px;
}

.text-container {
  background-color: #FFFFFF;
  padding: 4em;
  margin: 3em;
}

.button-container {

  width: 15em;
  height: 4em;
  margin: auto;
}
.dhallows{
  margin-top: -200px;
  margin-left: -200px;
}

.button {
  color: yellow;
  height: 30px;
  width: 130px;
  background-color: rgb(70, 16, 105);
  border-color: #2B7AA7 #1E516E #1E516E #2B7AA7;
  border-width: 6px 10px 10px 6px;
  border-style: solid;
  margin: auto;
}



.button:hover {
    color: orange;
    font-style: italic;
}
.button:active {
  background-color: rgb(6,26,75);
  border-color: #1E516E #2B7AA7 #2B7AA7 #1E516E;
  border-width: 10px 6px 6px 10px;
}
