* {
  font-family: 'Great Vibes', cursive;
  color: blue;
    font-size: 30px;
}
body{
  background-color: #461069;
}
h1{
  font-family: 'Kaushan Script', cursive;
  color: purple;
  text-align: right;
}
h2{
  font-family: 'Kaushan Script', cursive;
  color: purple;
  text-align: right;
}
h3{
  font-family: 'Kaushan Script', cursive;
  background-color: #FFFFFF;
}

.name{

  font-size: 30px;
}



.spoken {
  font-style: italic;
}
.name{

}
.text-container {
  background-color: #FFFFFF;
  padding: 4em;
  margin: 3em;
}
