*{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-align: center;
  font-size: 30px;

}
.text-container{
  margin-top: -450px;
  margin-left: 0px;
font-size: 20px;
}
h1{
  font-size:50px;
  color: blue;
}

ul {
  display: table; margin:0 auto;
}

.instagram {
    display: block;

    margin-left: 0%;
    margin-right: 100%;
}

.instagram {
    display: block;

    margin-left: 50%;
    margin-right: 50%;

}
.youtube {
    display: block;
    margin-top: -90px;
    margin-right:0%;
    margin-left: 100%;

}

.button {
  color: black;
  height: 100px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-color: #2B7AA7 #1E516E #1E516E #2B7AA7;
  border-width: 6px 10px 10px 6px;
  border-style: solid;
  margin: auto;
}



.button:hover {
    opacity: .0;
}
.button:active {
    opacity: 1;
  background-color: rgb(6,26,75);
  border-color: #1E516E #2B7AA7 #2B7AA7 #1E516E;
  border-width: 10px 6px 6px 10px;
}
